@font-face {
        font-family: 'Cream';
        src: url(https://file.garden/Z7q-3boECTYzyhfl/cream-DEMO.otf);
    }

@font-face {
    font-family: 'Caveat';
    src: url('https://file.garden/ZRrc_2_MomIqlqro/fonts/Caveat-Regular.ttf');
}
